.page { 
  position: relative;
  box-sizing: border-box;
  width: 100%;
  color: black;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}