.header {
  margin: 0 auto;
  width: calc(100% - 2 * 70px);
  max-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 18px 0;
  transition: all 0.2s ease-out;
}

.header__logo:hover {
  opacity: .6;
}

.header__buttons {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.header__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border: none;
  text-decoration: none;
  background-color: white;
  transition: all 0.2s ease-out;
  color: black;
}

.header__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__button-entry {
  background-color: #2be080;
  border-radius: 3px;
  padding: 8px 20px;
}

.header__list {
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0 0 0 55px;
}

.header__link {
  line-height: 18px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-out;
}

.header__link:hover {
  opacity: .6;
}

.header__link_active {
  font-weight: 600;
  line-height: 18px;
  font-size: 13px;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-out;
}

.header__link_active:hover {
  opacity: .6;
}

.header__button-profile {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  padding: 8px 12px;
  border-radius: 50px;
}

.header__burger-button {
  border: none;
  background-color: white;
  padding: 0;
  display: none;
  transition: all 0.2s ease-out;
}

.header__burger-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__burger-button {
    display: block;
  }

  .header__buttons {
    display: none;
  }

  .header__list {
    display: none;
  }

  .header__button-profile {
    display: none;
  }
}

.header__img-profile {
  padding-right: 7px;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 2 * 30px);
  }
}

@media screen and (max-width: 480px) {
  .header {
    width: calc(100% - 2 * 14px);
    
  }

  .header__no-auth {
    gap: 14px;
  }

  .header__button {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }
}